//== Typography
$num-font-family: "Montserrat", sans-serif;

//** Background color for `<body>`.
$body-bg: #bbdefa;

//== Colors
$brand-primary: #1c88e3;

//== Buttons
$btn-default-color: #333;
$btn-default-bg: #fff;
$btn-default-border: #ccc;

$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;
